<div class="post user" data-id="{{ id }}">
    <div class="info" 
        data-comment="{{ comment }}" 
        data-nickname="{{ @root.user.nickname }}"
        data-avatar="{{ @root.user.avatar }}"
        data-id="{{ id }}"
    >
        <span>200</span>&nbsp;ответок "Нравится"
    </div>

    <img src="{{ image }}">
</div>